{form form}
{foreach $form->getErrors() as $error}
    <div class="card bg-danger text-white shadow mb-3">
        <div class="card-body">
            {$error}
        </div>
    </div>
{/foreach}
<div class="form">
    <div class="form-group">
        {label courier}
        {input courier}
    </div>
    <div class="form-group">
        {input send}
    </div>
</div>
{/form}