{block content}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div class="col-sm-6">
        <h1 class="h3 mb-0 text-gray-800">{_app.knowledge.title}</h1>
    </div>
    <div class="col-sm-6">
        <a n:href="edit" class="btn btn-success btn-sm float-right"><i class="fa fa-plus"></i> {_app.knowledge.add}</a>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div  n:foreach="$knowledgeContent as $item"  class="col-sm-3">
                <div class="card">
                    <div class="card-body">
                        <a style="font-size: 20px" n:href="Knowledge:detail, id=>$item->id" class="card-title">{$item->heading}</a>
                        <p class="card-text">{$item->description|truncate:30}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>