{block content}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div class="col-sm-6">
    </div>
    <div class="col-sm-6">
        <a n:href="default" class="btn btn-success btn-sm float-right">Zpět na přehled</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-7 m-auto">
        <div class="card mb-4">
            <div class="card-header py-3" style="background-color: whitesmoke">
               <h4>{$detail->heading}</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <p>{$detail->description}</p>
                    <div>
                        <span>{_app.knowledge.date}{$detail->createdAt|date:'%d.%m.%Y'}</span>
                    </div>
                    <a n:href="edit, id=>$detail->id" class="btn btn-success btn-sm float-left">{_app.knowledge.edit}</a>
                </div>
            </div>
        </div>

    </div>
</div>


