{block content}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div class="col-sm-6">
        <h1 class="h3 mb-0 text-gray-800">{_app.operators.detail, ['name' => $item->name . ' ' . $item->surname]}</h1>
    </div>
    <div class="col-sm-6">
        <a n:href="default" class="btn btn-success btn-sm float-right">{_app.operators.operatorsList}</a>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <div class="card mb-4">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col-sm-6">
                        <h6 class="m-0 font-weight-bold text-dark">{_app.operators.basicInformations}</h6>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table-borderless">
                    <table class="table">
                        <tr>
                            <th>Název:</th>
                            <td>{$item->name} {$item->surname}</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>{$item->email}</td>
                        </tr>
                        <tr>
                            <th>Telefon:</th>
                            <td>{$item->phoneNumber}</td>
                        </tr>
                        <tr>
                            <th>Poslední přihlášení:</th>
                            <td>{$item->lastLogin|date:'d. m. Y'}</td>
                        </tr>
                        <tr>
                            <th>Nyní v práci</th>
                            <td>{$item->workingNow ? 'Ano' : 'Ne'}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
    </div>
    <div class="col-sm-12">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-dark">{_app.operators.logs}</h6>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    {*control branchOrdersDatagrid*}
                </div>
            </div>
        </div>
    </div>
</div>