{block content}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div class="col-sm-6">
        <h1 class="h3 mb-0 text-gray-800">{_app.cities.title}</h1>
    </div>
    <div class="col-sm-6">
        <a n:href="edit" class="btn btn-success btn-sm float-right"><i class="fa fa-plus"></i> {_app.cities.add}</a>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-dark">{_app.cities.citiesList}</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    {control citiesDatagrid}
                </div>
            </div>
        </div>

    </div>
</div>