{block content}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">{_app.dashboard.title}</h1>
    </div>

    <div class="row">
        <div class="col-xl-4 col-md-6 mb-4" n:ifIsAllowed='dashboard:showstatsturnover'>
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">{_app.dashboard.statistics.turnoverToday}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{$turnover} Kč</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-4" n:ifIsAllowed='dashboard:showstatsorders'>
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">{_app.dashboard.statistics.ordersCountToday}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{$ordersQuantity} Ks</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-shopping-cart fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-6 mb-4" n:ifIsAllowed='dashboard:showstatsorderitems'>
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-dark text-uppercase mb-1">{_app.dashboard.statistics.productsCountToday}</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{$productsQuantity} Ks</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-box fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" n:ifIsAllowed='dashboard:showactualorders'>
        <div class="col-sm-12">
        <div class="card mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-dark">{_app.dashboard.actualOrders.title}</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">ID objednávky</th>
                                <th scope="col">Předpokládané datum doručení</th>
                                <th scope="col">Aktuální stav objednávky</th>
                                <th scope="col">Aktuálně přiřazený uživatel</th>
                                <th scope="col">Adresa doručení</th>
                                <th scope="col">Partner</th>
                            </tr>
                        </thead>
                        <tbody>
                            {varType App\Model\Order $order}
                            {foreach $actualOrders as $order}
                                <tr>
                                    <td>{$order->id}</td>
                                    <td>{$order->deliveryDate|date:'d.m.Y H:i'}</td>
                                    <td>{if $order->getLastOrderLog() && $order->getLastOrderLog()->orderState}{_'entity.orderLog.orderState'.$order->getLastOrderLog()->orderState->type}{else}Není známo{/if}</td>
                                    <td>{if $order->getLastOrderLog() && $order->getLastOrderLog()->assignedTo && $order->getLastOrderLog()->orderState}{$order->getLastOrderLog()->assignedTo->name} {$order->getLastOrderLog()->assignedTo->surname}{else}Není známo{/if}</td>
                                    <td>{$order->getAddressString()}</td>
                                    <td>{$order->partnerBranch->partner->name}</td>
                                </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
          </div>

        </div>
    </div>


<div class="row" n:ifIsAllowed='dashboard:showactiveusers'>
    <div class="col-sm-12">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-dark">{_app.dashboard.workersOnline.title}</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Jméno</th>
                                <th scope="col">Příjmení</th>
                                <th scope="col">Role</th>
                                <th scope="col">Detail uživatele</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach $activeUsers as $activeUser}
                                <tr>
                                    <td>{$activeUser->name}</td>
                                    <td>{$activeUser->surname}</td>
                                    <td>{_'roles.'.$activeUser->role->intName}</td>
                                    <td><a n:href="Users:detail, $activeUser->id" target="_blank" class="btn btn-success btn-sm">detail</a></td>
                                </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{*
<div class="row" n:ifIsAllowed='dashboard:showcouriersonway'>
    <div class="col-sm-12">
        <div class="card mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-dark">{_app.dashboard.workersOnWay.title}</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                     <thead>
                            <tr>
                                <th scope="col">Jméno</th>
                                <th scope="col">Příjmení</th>
                                <th scope="col">Detail objednávky</th>
                            </tr>
                        </thead>
                        <tbody>
                            {foreach $couriersOnWay as $courier}
                                <tr>
                                    <td>{$courier->name}</td>
                                </tr>
                            {/foreach}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
*}
{/block}