<form n:name="form">
    {foreach $form->getErrors() as $error}
        <div class="card bg-danger text-white shadow mb-3">
            <div class="card-body">
                {$error}
            </div>
        </div>
    {/foreach}
    <div class="form">
        <div class="form-group">
            {label name} *
            {input name}
        </div>
        <div class="form-group">
            {label partnerFrom} *
            {input partnerFrom}
        </div>
        <div class="form-group">
            {label email} *
            {input email}
        </div>
        <div class="form-group">
            {label phoneNumber}
            {input phoneNumber}
        </div>
        <div class="form-group">
            {label ico}
            {input ico}
        </div>
        <div class="form-group">
            {label dic}
            {input dic}
        </div>
        <div class="form-group">
            {label partnerUser} *
            {input partnerUser}
        </div>
        <div class="form-group">
            {input send}
        </div>
    </div>
</form>
