{block content}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div class="col-sm-6">
        <h1 class="h3 mb-0 text-gray-800">{if $item}{_app.vehicleLogs.edit, [name => $item->event]}{else}{_app.vehicleLogs.add}{/if}</h1>
    </div>
    <div class="col-sm-6">
        <a n:href="default" class="btn btn-success float-right">Zpět na přehled</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-7 m-auto">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                {if $item}
                    <h6 class="m-0 font-weight-bold text-dark">{_app.vehicleLogs.edit, [name => $item->event]}</h6>
                {else}
                    <h6 class="m-0 font-weight-bold text-dark">{_app.vehicleLogs.add}</h6>
                {/if}
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    {control vehicleLogsForm}
                </div>
            </div>
        </div>

    </div>
</div>


