{varType App\AppModule\Components\MenuComponent $control}
{varType App\Presenters\BasePresenter $presenter}
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="{plink Dashboard:}">
		<div class="sidebar-brand-text mx-3">
			<div>
				<img src="{$basePath}/images/logo.png" class="w-100">
			</div>
		</div>
	</a>

	<hr class="sidebar-divider">

	<div class="sidebar-heading">
		{_common.moduls}
	</div>

	{foreach $menuItems as $item}
		{ifset $item['children']}
			{var $allowed = false}
			{foreach $item['children'] as $child}
				{if $user->isAllowed(strtolower($child['presenterClean']), 'read')}
					{var $allowed = true}
				{/if}
			{/foreach}
			{var $isCurrent = $presenter->isLinkCurrentIn($control->getLinksRecursiveString($item))}
			<li n:class="$isCurrent ? active, nav-item" n:if="$allowed">
				<a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse-{$item['presenterClean']}" aria-expanded="true" aria-controls="collapsePages">
					<i class="{$item['icon']}"></i>
					<span>{_'app.'.$item['presenterClean'].'.title'}</span>
				</a>
				<div id="collapse-{$item['presenterClean']}" n:class="$isCurrent ? show, collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						{foreach $item['children'] as $child}
							<a n:class="$presenter->isLinkCurrent($child['presenter'].':*') ? active, collapse-item" href="{plink $child['presenter'].':default'}" n:if="$user->isAllowed(strtolower($child['presenterClean']), 'read')">{_'app.'.$child['presenterClean'].'.title'}</a>
						{/foreach}
					</div>
				</div>
			</li>
		{else}
			<li n:class="$presenter->isLinkCurrent($item['presenter'].':*') ? active, nav-item"  n:if="$user->isAllowed(strtolower($item['presenterClean']), 'read')">
				<a class="nav-link" href="{plink $item['presenter'].':default'}">
					<i class="{$item['icon']}"></i><span class="ml-2">{_'app.'.$item['presenterClean'].'.title'}</span>
				</a>
			</li>
		{/ifset}
	{/foreach}

	<hr class="sidebar-divider d-none d-md-block">

	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>

</ul>