{block content}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div class="col-sm-6">
        <h1 class="h3 mb-0 text-gray-800">{_app.vehicles.detail, ['name' => $item->spz]}</h1>
    </div>
    <div class="col-sm-6">
        <a n:href="default" class="btn btn-success btn-sm float-right">{_app.vehicles.vehiclesList}</a>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <div class="card mb-4">
            <div class="card-header py-3">
                <div class="row">
                    <div class="col-sm-6">
                        <h6 class="m-0 font-weight-bold text-dark">{_app.vehicles.basicInformations}</h6>
                    </div>
                    <div class="col-sm-6">
                        <a n:href="edit, $item->id" class="btn btn-sm btn-success float-right">Upravit</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive table-borderless">
                    <table class="table">
                        <tr>
                            <th>SPZ:</th>
                            <td>{$item->spz}</td>
                        </tr>
                        <tr>
                            <th>Značka:</th>
                            <td>{$item->vehicleBrand}</td>
                        </tr>
                        <tr>
                            <th>Model:</th>
                            <td>{$item->vehicleModel}</td>
                        </tr>
                        <tr>
                            <th>Barva:</th>
                            <td>{$item->vehicleColor}</td>
                        </tr>
                        <tr>
                            <th>Stav km:</th>
                            <td>{$item->endKm}</td>
                        </tr>
                        <tr>
                            <th>Vloženo do systému:</th>
                            <td>{$item->createdAt|date:'d.m.Y'}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
    </div>
    <div class="col-sm-12">
        <h4 class="text-dark">Záznamy vozidla {$item->spz}</h4>
        <div class="table-responsive">
            {control vehicleLogsDatagrid}
        </div>
    </div>
</div>