{form form}
    {foreach $form->getErrors() as $error}
        <div class="card bg-danger text-white shadow mb-3">
            <div class="card-body">
                {$error}
            </div>
        </div>
    {/foreach}
    <div class="form">
        <div class="form-group">
            {label spz}
            {input spz}
        </div>
        <div class="form-group">
            {label type}
            {input type}
        </div>
        <div class="form-group">
            {label vehicleBrand}
            {input vehicleBrand}
        </div>
        <div class="form-group">
            {label vehicleModel}
            {input vehicleModel}
        </div>
        <div class="form-group">
            {label vehicleColor}
            {input vehicleColor}
        </div>
        <div class="form-group">
            {label startKm}
            {input startKm}
        </div>
        <div class="form-group">
            {label endKm}
            {input endKm}
        </div>
        <div class="form-group">
            {input send}
        </div>
    </div>
{/form}