<script src="{$basePath}/js/jquery/jquery.min.js"></script>
<script src="{$basePath}/js/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{$basePath}/js/jquery-easing/jquery.easing.min.js"></script>
<script src="{$basePath}/js/sb-admin-2.min.js"></script>
<script src="{$basePath}/js/chart.js/Chart.min.js"></script>
<script src="{$basePath}/js/nomodule-es5-fallback.js"></script>
<script>
    var happy = new Happy;
    happy.init();
</script>
<script src="{$basePath}/js/bootstrap-datepicker.js"></script>
<script src="{$basePath}/js/nette.ajax.js"></script>
<script src="{$basePath}/js/datagrid.js"></script>
<script src="{$basePath}/js/netteForms.min.js"></script>
<script src="{$basePath}/js/datagrid-instant-url-refresh.js"></script>
<script src="{$basePath}/js/datagrid-spinners.js"></script>
<script src="{$basePath}/js/bootstrap-select.js"></script>