<title>{block title}{ifset $customTitle}{$customTitle|striptags}{else}{$title}{/} - {_app.name}</title>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Interní systém pro Soused.Online">
<meta name="author" content="Petr Šebela">
<meta name=“robots“ content="noindex, nofollow">

<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">

<link rel="stylesheet" href="{$basePath}/css/happy.css">
<link rel="stylesheet" href="{$basePath}/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="{$basePath}/css/datagrid.css">
<link rel="stylesheet" href="{$basePath}/css/datagrid-spinners.css">
<link rel="stylesheet" href="{$basePath}/css/bootstrap-select.css">
<link rel="stylesheet" href="{$basePath}/css/fontawesome/css/all.css">
<link rel="stylesheet" href="{$basePath}/css/sb-admin-2.min.css">
<link rel="stylesheet" href="{$basePath}/css/custom.css">
<link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
