{block content}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <div class="col-sm-6">
        <h1 class="h3 mb-0 text-gray-800">{_app.orderLogs.title}</h1>
    </div>
    <div class="col-sm-6">
        <a n:href="edit" class="btn btn-success float-right btn-sm"><i class="fa fa-plus"></i> {_app.orderLogs.add}</a>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-dark">{_app.orderLogs.orderLogsList}</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    {control orderLogsDatagrid}
                </div>
            </div>
        </div>

    </div>
</div>